body{
font-family:Comic Sans MS;
text-align:center;
background:#cfe8ff;
}

/* stage */

.stage{
width:800px;
height:400px;
margin:auto;
position:relative;
border-radius:20px;
overflow:hidden;
background:#fff;
}

/* backgrounds */

.room{
background:linear-gradient(#e0f2fe,#ffffff);
}

.clinic{
background:linear-gradient(#e6ffe6,#ffffff);
}

/* characters */

.character{
position:absolute;
font-size:60px;
top:220px;
}

.bf{
left:-120px;
}

.gf{
right:80px;
}

.friend{
position:absolute;
top:230px;
font-size:55px;
opacity:0;
}

.anubhav{
right:-150px;
}

.kunal{
right:-150px;
}

.doctor{
right:100px;
opacity:0;
}

/* speech bubble */

.bubble{
position:absolute;
top:40px;
left:200px;
background:white;
padding:15px 20px;
border-radius:20px;
border:3px solid black;
font-size:18px;
max-width:350px;
}

/* day text */

.day{
position:absolute;
bottom:10px;
left:10px;
font-weight:bold;
}

/* walking */

.walk{
animation:walk 2s forwards;
}

@keyframes walk{
from{left:-120px}
to{left:60px}
}

/* sneeze */

.sneeze{
animation:sneeze 0.3s 4;
}

@keyframes sneeze{
0%{transform:translateX(0)}
50%{transform:translateX(-10px)}
100%{transform:translateX(10px)}
}

/* sneeze particles */

.particle{
position:absolute;
font-size:20px;
animation:fly 1s forwards;
}

@keyframes fly{
0%{opacity:1; transform:translate(0,0)}
100%{opacity:0; transform:translate(80px,-40px)}
}

/* anubhav slide */

.slideIn{
opacity:1;
animation:slide 1s forwards;
}

@keyframes slide{
from{right:-150px}
to{right:150px}
}

/* kunal pop */

.pop{
opacity:1;
animation:pop 0.7s;
}

@keyframes pop{
0%{transform:scale(0)}
100%{transform:scale(1)}
}

/* gf angry */

.angry{
animation:angry 0.3s infinite;
}

@keyframes angry{
0%{transform:rotate(-5deg)}
50%{transform:rotate(5deg)}
100%{transform:rotate(-5deg)}
}

/* bf embarrassed */

.embarrassed{
transform:rotate(-10deg);
}

/* friends leave */

.leave{
animation:leave 3s forwards;
}

@keyframes leave{
from{right:150px}
to{right:-200px}
}
